python-telegram-bot
python-telegram-bot-calendar
gspread
python-dotenv
passlib
redis
os
psycopg2
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
git+https://github.com/BX-bot-ecosystem/BX-bot-utils.git@main
